// The following two lines import the default Sencha Touch theme. If you are building
// a new theme, remove them and the add your own CSS on top of the base CSS (which
// is already included in your app.json file).
@import 'sencha-touch/default';
@import 'sencha-touch/default/all';

.x-city-code {
	font-size: 75px;
	font-weight: bold;
	text-align: center;
	padding-bottom: 300px;
}

.x-card-back-label {
	text-align: center;
	h1 {
		font-size: 50px;
		font-weight: bold;
		padding-top: 30px;
	}
	h1.wrong {
		color: #D80303;
	}
	h1.right {
		color: #609600;
	}

}

.x-menu-item {
	margin: 10px;
	border-radius: 5px;
	border-color: black;
	border-width: 2px;
	border-style: solid;
	padding: 10px;
	box-shadow: 2px 2px 5px #888888;
}

// Examples of using the icon mixin:
// @include icon('user');